/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 #fb-subscription-form {
   margin-bottom: 150px;
   max-width: 630px;
   margin: 0 auto;
 }

span.fa.fa-phone {
  vertical-align: middle;
}

 input:-webkit-autofill,
 input:-webkit-autofill:hover, 
 input:-webkit-autofill:focus, 
 input:-webkit-autofill:active  {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
  /* if input has one color, and didn't have bg-image use shadow */
  -webkit-box-shadow:  rgba(52,113,130,0.3) 0px 1px;
  /* text color */
  -webkit-text-fill-color: unset;
}

input:-internal-autofill-selected {
  -webkit-appearance: menulist-button;
  background-color: transparent !important;
  background-image: none !important;
  -webkit-box-shadow:  rgba(52,113,130,0.3) 0px 1px;
  color: -internal-light-dark-color(black, white) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.logged-message, .error-message {
  text-align: center;
  padding: 32px 0;
}

.react-tel-input input {
  border: 3px solid #9d9fa1;
  color: #34495e;
  height: 42px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none; 
  width: 230px;
  padding-left: 6px;
  font-size: 16px;
}

#price {
  text-align: center;
  margin: 12px 0;
}
#price del {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #9d9fa1;
  margin-bottom: 8px;
}

#price ins, #price bdi, span.subscription-details {
  color: #fea03d;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Baloo Da', sans-serif;
}

span.woocommerce-Price-currencySymbol {
  margin-left: 6px;
}

